.navbar {
    width: 100%;
    float: right;
    background-color: #ebe8e4;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.navbar .logo {
    display: flex;
    margin-left: 80px;
    align-items: center;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar .logo .nav-img {
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

.navbar .left {
    display: flex;
    width: 28%;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo .search-bar {
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
}

.navbar .logo .search-bar input {
    border: none;
    display: flex
}
.navbar .left .user {
    height: 40px;
    width: 40px;
}

.navbar .left .ask-button {
    border: 1px solid #2b251f;
    color: #2b251f;
    border-radius: 6px;
    background-color: #ebe8e4;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #FFFFFF;
    color: #facc15;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0px;
    transition: 0.3s;
}

.toggle-switch .sun-icon {
    color: #ccc;
    font-size: 16px;
    position: absolute;
    left: 4px;
}

.toggle-switch .moon-icon {
    color: #facc15;
    font-size: 16px;
    position: absolute;
    right: 4px;
}

input:checked+.toggle-switch {
    background-color: #facc15;
}

input:checked+.toggle-switch .toggle-circle {
    transform: translateX(30px);
}

input:checked+.toggle-switch .moon-icon {
    color: #ccc;
}


input {
    display: none;
}

.form-control::placeholder {
    color: #9C8E73;
  }
.custom-dropdown::after {
    display: none !important;
}